<!-- About -->
<div class="container-fluid padding">
        <div class="row padding">
            <div class="cl-md-12 col-lg-8">
                <h2>It's what I do...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id felis quis dolor hendrerit congue quis sollicitudin lectus. Vestibulum accumsan metus tortor, nec vulputate nibh fringilla consequat.</p>
                <p>Donec ut imperdiet nulla. Phasellus vestibulum enim eros, at faucibus metus sagittis quis. Proin consequat lacus nec efficitur cursus. Fusce finibus, libero id porta luctus, dui sem facilisis sapien, in lacinia nibh justo et ex. Nullam ultricies eleifend odio nec porttitor.</p>
            </div>	
            <div class="cl-md-12 col-lg-4 self">
                <img src="/images/side.png" class="image-fluid self">
            </div>		
            <div class="col-12 container-fluid">

                <div class="embed-responsive embed-responsive-16by9">

                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/krlHfN9HYYQ"></iframe>

                </div>
                
            </div>	
        </div>
    </div>
    
    <!--
    <hr class="">
            
    Parallax 
    <figure>
        <div class="fixed-wrap">
            <div id="fixed">
                <img src="img/side.jpg">
            </div>
        </div>
    </figure>
    -->