<!-- Gallery -->
<section class="container-fluid gallery bg-faded">
        <div class="grid">
            <a href="#" class="grid__item grid__sizer">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/1.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/2.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/3.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item grid__item--high">
                 <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/4.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/5.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/6.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/7.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/8.jpg" alt="Photo Devs" />
            </a>
            <a href="#" class="grid__item grid__item--high">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/9.jpg" alt="Photo Devs" />
              </a>
               <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/10.jpg" alt="Photo Devs" />
               </a>
               <a href="#" class="grid__item">
                   <div class="item__overlay">
                       <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                   </div>
                   <img src="/images/11.jpg" alt="Photo Devs" />
               </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/12.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/13.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/14.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/15.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/16.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/17.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/18.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/19.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/20.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/21.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/22.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/23.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/24.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/25.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/26.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/27.jpg" alt="Photo Devs" />
            </a>
               <a href="#" class="grid__item">
                <div class="item__overlay">
                    <button class="js-button btn btn-outline-light btn-lg" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
                </div>
                <img src="/images/28.jpg" alt="Photo Devs" />
            </a>
        </div>
    </section>